{% extends 'base.html.twig' %}

{% block title %}{{ articles.titre }}{% endblock %}

{% block body %}
    <h1>{{ articles.titre }}</h1>
    <p>{{ articles.createdAt|date }} - Commentaires : {{ commentaires|length }}</p>
    <img src="{{ vich_uploader_asset(article, 'imageFile')|imagine_filter('article')  }}" alt="">
    <div>{{ articles.contenu|raw }}</div>

    <p>Catégories : 
        {% for categorie in articles.categories %}
            {{ categorie.nom }} 
        {% endfor %}
    </p>

    <h2>{% trans %}Comments{% endtrans %}</h2>
    {% for commentaire in commentaires %}
        <p>{% trans %}Published by{% endtrans %} {{ commentaire.pseudo }} le {{ commentaire.createdAt|date }}</p>
        <p>{{ commentaire.contenu }}</p>
    {% else %}
        <p>{% trans %}There's no comment yet{% endtrans %}</p>
    {% endfor %}
    {{ form(form) }}
{% endblock %}
