{% extends 'base.html.twig' %}

{% block title %}{{ articles.titre }}{% endblock %}

{% block body %}
    <h1>{{ articles.titre }}</h1>
   
    
    <div>{{ articles.contenu|raw }}</div>

    <p>Catégories : 
        {% for categorie in articles.categories %}
            {{ categorie.nom }} 
        {% endfor %}
    </p>

    <h2>{% trans %}Comments{% endtrans %}</h2>
{% for commentaires in articles.commentaires %}
        <p>{% trans %}Published by{% endtrans %} {{ Commentaires.pseudo }} le {{ Commentaires.createdAt|date }}</p>
        <p>{{ Commentaires.contenu }}</p>
    {% else %}
        <p>{% trans %}There's no comment yet{% endtrans %}</p>
    {% endfor %}
    {{ form(commentForm) }}
{% endblock %}
